<nav>
  <div class="logo-details">

  </div>
  <ul class="nav_list border-left border-bottom">
    <li>
      <a routerLink="" class="link">
        <p class="links_name">Why Invest </p>
      </a>
    </li>
    <li>
      <a class="link">
        <p class="links_name">About</p>
      </a>
    </li>
    <li>
      <a class="link ">
        <p class="links_name">Industries</p>
      </a>
    </li>
    <li>
      <a class="link ">
        <p class="links_name">Programs & Incentives</p>
      </a>
    </li>
    <li>
      <a class="link ">
        <p class="links_name">Locations</p>
      </a>
    </li>
    <li>
      <div class="flex justify-between ">
        <a class="link ">
          <p class="links_name">News</p>
        </a>
        <div class="re-phone">
          <p class=" text-white">Follow us</p>
          <div class="flex justify-center  text-white">
            <i class='bx bxl-facebook mx-1'></i>
            <i class='bx bxl-twitter mx-1'></i>
            <i class='bx bxl-youtube mx-1'></i>
          </div>
        </div>
      </div>
    </li>




  </ul>

  <footer class="nav_list_footer border-left flex justify-between text-center px-6">
    <div class="mx-12">
      <span class="text-gray-200">Privacy Policy | Terms of Use</span>
    </div>
    <div class="mx-12">
      <span class="text-gray-400">© 2022 Linkdevelopment Sub From A15</span>
    </div>
  </footer>

</nav>
