<header class=" navbar border-b flex items-center justify-between ">
  <!-- Logo text or image -->
  <div class="h-full flex items-center justify-between ">

    <img class="mr-5 pointer " routerLink="/" width="100vh" src="../../../assets/images/LinkDev_white@2x.png">


  </div>
  <!-- END Logo text or image -->

  <!-- Global navigation -->

  <ul class="list-reset flex flex-row items-center p-0">

    <li class="ml-6 res-tab">
      <div class="py-3  md:text-xl  pointer" (click)="changeTheme()">
        <img class="mr-5 " src="../../../assets/images/contrast.svg">
      </div>

    </li>
    <li class="ml-6 border-right res-tab">
      <div class="py-3 mb-2 md:text-xl   pointer inline" style="float:left;">
        <span class="text-base mx-1 text-white" (click)="changFont('x1')">A</span>
        <span class="text-lg mx-1 text-white" (click)="changFont('x2')">A</span>
        <span class="text-2xl mx-1 text-white" (click)="changFont('x3')">A</span>
      </div>
    </li>

    <li class="ml-6 res-tab">
      <div class="py-3  md:text-xl  pointer">
        <img class="mr-5 " src="../../../assets/images/Path 58308.svg">
      </div>

    </li>

    <li class="ml-6 res-tab">
      <div class="py-3  md:text-xl   pointer flex justify-center text-center" ngbDropdown>
        <p id="dropdownBasic1" ngbDropdownToggle>{{ "SYSTEM_LANGUAGE_SELECTED" |
          translate }} <i class='bx bx-chevron-down'></i>
        </p>
        <!-- <p *ngIf="languageService.langauge.value == 'en'" id="dropdownBasic1" ngbDropdownToggle>EN <i
            class='bx bx-chevron-down'></i>
        </p> -->
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="menue-open">
          <button ngbDropdownItem (click)="changeLanguage()" class="sm:text-sm text-center">{{ "SYSTEM_LANGUAGE" |
            translate }}</button>
          <!-- <button ngbDropdownItem (click)="changeLanguage()" class="sm:text-sm text-center"
            *ngIf="languageService.langauge.value == 'ar'">EN</button> -->




        </div>

      </div>
    </li>

    <li class="ml-6 border-right res-tab">
      <div class="py-3  md:text-xl  pointer ">
        <button class="btn btn-round btn-default mb-2 " type="submit">Sign In</button>
      </div>

    </li>

    <li class="ml-6 pr-4">
      <i class='bx bx-menu-alt-right py-3  md:text-xl   pointer' id="btn"
        *ngIf="sideBarService.sideBarSubject.value == 'close'" (click)="onToggleSideBar()"></i>

      <i class='bx bx-x py-3  md:text-xl   pointer' id="btn" *ngIf="sideBarService.sideBarSubject.value == 'open'"
        (click)="onToggleSideBar()"></i>

    </li>
  </ul>



  <!-- END Global navigation -->

</header>
