@import "../abstract/colors";
@mixin biDirectional($start, $end) {

  .table_status_map{
    tr{
      color: $unnamed-color-ffffff;
  }
   td{
    color: $border-color;
    padding-#{$end}: 35px;
    padding-top: 15px;
  }

  }
}
@import '../abstract/direction';

