<footer class="footer flex">
  <div class="footer_spam border-right" id="footer_spam"></div>
  <div class="footer_info  flex justify-between items-center py-4 px-6">
    <ul class="nav_list upet-text pt-2">
      <li>
        <a routerLink="" class="link">
          <span class="links_name">Why Invest </span>
        </a>
      </li>
      <li>
        <a class="link">
          <span class="links_name">About</span>
        </a>
      </li>
      <li>
        <a class="link ">
          <span class="links_name">Industries</span>
        </a>
      </li>
      <li>
        <a class="link ">
          <span class="links_name">Programs & Incentives</span>
        </a>
      </li>
      <li>
        <a class="link ">
          <span class="links_name">Locations</span>
        </a>
      </li>
      <li>
        <a class="link ">
          <span class="links_name">News</span>
        </a>
      </li>
      <li>
        <a class="link ">
          <span class="links_name">About</span>
        </a>
      </li>



    </ul>
    <div>
      <ul class="nav_list mb-5 pt-2">
        <li>
          <a routerLink="" class="link">
            <span class="links_name">CONTACT US </span>
          </a>
        </li>
        <li>
          <a class="link">
            <span class="links_name">mail@linkdevelopment.com</span>
          </a>
        </li>
        <li>
          <a class="link ">
            <span class="links_name">+02-12-14492877</span>
          </a>
        </li>
        <li>
          <a class="link ">
            <span class="links_name">Please drop and email or call us</span>
          </a>
        </li>
        <li>
          <a class="link ">
            <span class="links_name">will connect with you soon</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="grid tab-res pr-2">
      <p class="my-1"> Subscribe to our newsletter</p>
      <input type="email" class="my-1 bg-gray-200">
      <button class="btn btn-default mb-2 my-1 w-12">Send</button>
      <div class="">
        <span class="text-gray-400">© 2022 Linkdevelopment Sub From A15</span>
      </div>
    </div>
  </div>
</footer>
