<div class="banar_section flex items-end">


  <div class=" baner_section_info flex">
    <div class=" baner_section_counter border-right py-60 res-tab-border">

      <div class="section_cercile px-11 py-16">
        <div class="flex justify-center items-center">
          <i class='bx bx-right-arrow-alt pointer p-2 mx-2 icon_arrow text-6xl'
            *ngIf="languageService.langauge.value == 'ar'" (click)="previous()"></i>

          <i class='bx bx-left-arrow-alt pointer p-2 mx-2 icon_arrow text-6xl'
            *ngIf="languageService.langauge.value == 'en'" (click)="previous()"></i>
          <div class="text-center">
            <span class=" text-6xl text-white">{{numberOfBanner}}</span>
          </div>
          <i class='bx bx-right-arrow-alt pointer p-2 mx-2 icon_arrow text-6xl'
            *ngIf="languageService.langauge.value == 'en'" (click)="next()"></i>

          <i class='bx bx-left-arrow-alt pointer p-2 mx-2 icon_arrow text-6xl'
            *ngIf="languageService.langauge.value == 'ar'" (click)="next()"></i>



        </div>
        <div class="text-center">
          <span class=" text-3xl text-white">/ {{banaras.length}}</span>
        </div>

      </div>
    </div>
    <div class=" baner_section_data py-52 px-24">

      <div>
        <div (click)="next()" class="pointer">
          <span class="text-white  text-3xl py-1">{{labelOfBanner}}</span>
          <p class="text-white text-5xl font-bold py-1">{{dataOfBanner}}</p>
          <p class="text-white text-5xl font-bold py-1">{{secondDataOfBanner}}</p>
        </div>

        <div class="flex justify-start my-1 tab-res-mob">
          <div class=" border-solid border-2 border-white rounded-full pointer" (click)="next()">
            <span class="text-white block pt-1 mx-2">More</span>
            <i class='bx bx-right-arrow-alt text-white p-1 mx-2' *ngIf="languageService.langauge.value == 'en'"></i>
            <i class='bx bx-arrow-back text-white p-1 mx-2' *ngIf="languageService.langauge.value == 'ar'"></i>


          </div>
        </div>

      </div>


      <div class="banar_section_footer  lg:pl-24 flex">
        <div class="react_investment p-4">
          <span class="foot_spam text-white p-2 block">Recent Investment Announcements</span>
          <div class="flex">
            <p class="text-white p-2 text-lg">Navigating the Opportunities of Africa's Logistics Sector</p>
            <div class="flex justify-start my-10 ">
              <div class="  border-solid border-2 border-white rounded-full">
                <span class="text-white block pt-1 mx-2">More</span>
                <i class='bx bx-right-arrow-alt icon_arrow p-1 mx-2' *ngIf="languageService.langauge.value == 'en'"></i>
                <i class='bx bx-arrow-back icon_arrow p-1 mx-2' *ngIf="languageService.langauge.value == 'ar'"></i>



              </div>
            </div>
          </div>
        </div>
        <div class="investment_sectors p-4 ">
          <div class="flex justify-between h-10 items-start ">
            <span class="foot_spam text-white p-2">Investment Sectors</span>
            <div class=" mx-16  text-white pointer tab-res-mob">More <i
                class='bx bx-right-arrow-alt text-white p-1 mx-2' *ngIf="languageService.langauge.value == 'en'"></i>
              <i class='bx bx-arrow-back text-white p-1 mx-2' *ngIf="languageService.langauge.value == 'ar'"></i>
            </div>
          </div>

          <div class="section_home">

            <div class="investment_sectors_list">
              <div class=" grid grid-cols-2 gap-3 section_icon_card">
                <div class="col-span-4 md:col-span-2 row-span-2 ">
                  <div class="grid grid-cols-6 gap-3 my-1 ">
                    <div class="box_list border-solid border-2 border-white p-1 mx-2">
                      <img src="../../../../../assets/images/travel.svg" class="w-8 block mx-auto mt-2 max-w-xs ">
                      <p class="text-white text-base text-center  py-1 ">Tourism</p>
                    </div>
                    <div class="box_list border-solid border-2 border-white p-1 mx-2">
                      <img src="../../../../../assets/images/tree-solid.svg" class="w-8 block mx-auto mt-2 max-w-xs ">
                      <p class="text-white text-base text-center py-1">Agriculture</p>
                    </div>

                    <div class="box_list border-solid border-2 border-white p-1 mx-2">
                      <img src="../../../../../assets/images/house.svg" class="w-8 block mx-auto mt-2 max-w-xs ">
                      <p class="text-white text-base text-center  py-1">Real Estate</p>
                    </div>
                    <div class="box_list border-solid border-2 border-white p-1 mx-2">
                      <img src="../../../../../assets/images/Industrials.svg" class="w-8 block mx-auto mt-2 max-w-xs ">
                      <p class="text-white text-base text-center py-1">Industrials</p>
                    </div>

                    <div class="box_list border-solid border-2 border-white p-1 mx-2">
                      <img src="../../../../../assets/images/lightning-fill.svg"
                        class="w-8 block mx-auto mt-2 max-w-xs ">
                      <p class="text-white text-base text-center  py-1">Energy</p>
                    </div>
                    <div class="box_list border-solid border-2 border-white p-1 mx-2">
                      <img src="../../../../../assets/images/heartbeat.svg" class="w-8 block mx-auto mt-2 max-w-xs ">
                      <p class="text-white text-base text-center py-1">HealthCare</p>
                    </div>
                  </div>



                </div>
              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </div>



</div>


<div class="baner-section">
  <div class="baner-section-status border-right"></div>
  <div class="baner-section-label">
    <div class="px-14 py-12">
      <table class="table_status_map ">
        <tr>
          <th>Country</th>
          <th>Selectors</th>
          <th>Opportunities</th>
        </tr>
        <tr *ngFor="let item of opportunities">
          <td class="my-3">{{item?.country}}</td>
          <td class="my-3">{{item?.sectors}}</td>
          <td class="my-3">{{item?.opportunity}}</td>
        </tr>
      </table>
      <div class="flex justify-start items-center my-4  text-white pointer">More <i
          class='bx bx-right-arrow-alt text-white p-1 mx-2' *ngIf="languageService.langauge.value == 'en'"></i>
        <i class='bx bx-arrow-back text-white p-1 mx-2' *ngIf="languageService.langauge.value == 'ar'"></i>
      </div>
    </div>
  </div>
</div>




<div class="news-section">
  <div class="news-section-data border-right"></div>
  <div class="news-section-news-label ">
    <div class="flex justify-end items-center mx-16 my-6 text-gray-400 pointer" [routerLink]="['/news']">More
      <i class='bx bx-right-arrow-alt  p-1 mx-2 border-solid border-2 border-gray-400 rounded-full text-gray-400'
        *ngIf="languageService.langauge.value == 'en'"></i>
      <i class='bx bx-arrow-back  p-1 mx-2 border-solid border-2 border-gray-400 rounded-full text-gray-400'
        *ngIf="languageService.langauge.value == 'ar'"></i>
    </div>

    <div class="component-loader" (errorCallback)="getNewsList()" [errorMessage]="'error'" component-loader
      [componentError]="loadingError" [loadingMessage]="'loading'" [componentLoading]="loading">
      <div class="section_home">
        <div class=" grid grid-cols-2 gap-3 mx-5 section_card">
          <div class="col-span-4 md:col-span-2 row-span-2">
            <div class="grid grid-cols-12 gap-6 card_options">
              <div class=" mx-2 my-1" *ngFor="let newsItem of newsList">
                <app-news-card [newsItem]='newsItem'></app-news-card>
              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- <section class="mx-5 flex  justify-center section_card ">
        <div class="news-card mx-2 my-1" *ngFor="let newsItem of newsList">
          <app-news-card [newsItem]='newsItem'></app-news-card>
        </div>
      </section> -->

    </div>

    <div class="flex justify-center items-center  mob-res">
      <i class='bx bx-left-arrow-alt  p-2 mx-1 border-solid border-2 border-gray-400 rounded-full text-gray-400'
        *ngIf="languageService.langauge.value == 'en'"></i>
      <i class='bx bx-right-arrow-alt  p-2 mx-1 border-solid border-2 border-gray-400 rounded-full text-gray-400'
        *ngIf="languageService.langauge.value == 'en'"></i>



      <i class='bx bx-right-arrow-alt  p-2 mx-1 border-solid border-2 border-gray-400 rounded-full text-gray-400'
        *ngIf="languageService.langauge.value == 'ar'"></i>
      <i class='bx bx-arrow-back  p-2 mx-1 border-solid border-2 border-gray-400 rounded-full text-gray-400'
        *ngIf="languageService.langauge.value == 'ar'"></i>





    </div>
  </div>
</div>
